<!DOCTYPE html>
<html lang="en">

<head>
    <title>Productos</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="productos.component.css">
</head>

<body>
    <br>
    <form>
        <input class="input-group mb-3" type="search" placeholder="Ingrese el Nombre del Producto, ejemplo: Red Bull Acai" aria-label="Search" #nombre>
        <button class="btn btn-success" type="submit" (click)="buscarProducto(nombre.value)" data-bs-toggle="modal" data-bs-target="#exampleModal">Buscar Productos
        </button>
        <!-- Modal Componente Hijo-->
        <app-modal [nombre]="Nombre" [informacion]="Informacion" [cantidad]="cantidad" [precio]="Precio">
        </app-modal>
    </form>
    <h1 class="text-center" style="color:wheat">Productos</h1>
    <div class="row">
        <div class="col-sm-4" *ngFor="let producto of productosService.productos">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-3">
                        <img src="{{producto.img}}" class="img-fluid rounded-start" alt="red bull">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <form (ngSubmit)="agregar(producto)">
                                <h5 class="card-title">{{producto.nombre}}</h5>
                                <p class="card-text">Descripción: {{producto.descripcion}}</p>
                                <p class="card-text"><small class="text-muted">Valor: {{producto.precio}}</small></p>
                                <p class="card-text"><small class="text-muted" name="cantidad">Cantidad: {{producto.cantidad}}</small></p>
                                <button type="submit" class="card-button btn btn-success">Agregar
                                </button>
                                <br>
                            </form>
                            <form (ngSubmit)="obtenerInformacion(producto)">
                                <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    Desplegar Información
                                </button>
                                <!-- Modal Componente Hijo-->
                                <app-modal [nombre]="Nombre" [informacion]="Informacion" [cantidad]="cantidad" [precio]="Precio">
                                </app-modal>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>