<!DOCTYPE html>
<html lang="en">

<head>
    <title>Productos</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="productos.component.css">
</head>

<body>
    <br>
    <input class="input-group mb-3" type="search" placeholder="Ingrese el Producto a Buscar" aria-label="Search">
    <div class="text-center">
        <button class="btn btn-success" type="submit">Buscar Productos</button>
    </div>
    <h1 class="text-center" style="color:wheat">Productos</h1>
    <div class="row">
        <div class="col-sm-4" *ngFor="let producto of productosService.productos">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-3">
                        <img src="{{producto.img}}" class="img-fluid rounded-start" alt="red bull">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{producto.nombre}} </h5>
                            <p class="card-text">Descripción: {{producto.descripcion}}</p>
                            <p class="card-text"><small class="text-muted">Valor: {{producto.precio}}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>