<h1 class="text-center">Carrito de Compras</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Producto</th>
            <th scope="col">Precio</th>
            <th scope="col">Imagen</th>
            <th scope="col">Eliminar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let producto of productosService.lista_productos">
            <td>{{producto.id}}</td>
            <td>{{producto.nombre}}</td>
            <td>{{producto.precio}}</td>
            <td><img src="{{producto.img}}" width="30px"></td>
            <td>
                <button class="btn btn-danger">Eliminar</button>
            </td>
        </tr>
</table>