<div class="modal-dialog text-center">
    <div class="col-sm-8 main-section">
        <div class="modal-content">
            <div class="col-12 user-img">
            </div>
            <form class="col-12" (submit)="insertar()">
                <div class="form-group" id="user-group">
                    <input type="text" class="form-control" [(ngModel)]="email" placeholder="Nombre de usuario" name="email" />
                    <p style="color: wheat">{{email}}</p>
                </div>
                <div class="form-group" id="contrasena-group">
                    <input type="password" class="form-control" [(ngModel)]="password" placeholder="Contraseña" name="password" />
                    <p style="color: wheat">{{password}}</p>
                </div>
                <button type="submit" class="btn btn-success"><i class="fas fa-sign-in-alt" ></i> Ingresar </button>
                <a type="button" class="btn btn-primary" routerLink="/registro"><i class="fas fa-sign-in-alt" ></i> Registrarme</a>
            </form>
        </div>
    </div>
</div>