<!-- Modal Componente Padre-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{nombre}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <h5>Detalle del Producto</h5>{{informacion}}
                </div>
                <div>
                    Precio: {{precio}}
                </div>

                <div>
                    Stock: {{cantidad}}
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="onAccion()" routerLink="/caracteristica">Ir a Pagar</button>
            </div>
        </div>
    </div>
</div>