<h1 class="text-center"> Formulario de Despacho </h1>
<form>
    <div class="row">
        <div class="col-sm-6">
            <h3>Formulario de Envio</h3>
            <div class="mb-3">
                <label for="pais" class="form-label">Pais</label>
                <input type="text" class="form-control" id="direccion" required>
            </div>
            <div class="mb-3">
                <label for="calle" class="form-label">Calle</label>
                <input type="text" class="form-control" id="direccion" required>
            </div>
            <div class="mb-3">
                <label for="ciudad" class="form-label">Ciudad</label>
                <input type="text" class="form-control" id="direccion" required>
            </div>
            <div class="mb-3">
                <label for="region" class="form-label">Región</label>
                <input type="text" class="form-control" id="direccion" required>
            </div>
            <div class="mb-3">
                <label for="codPostal" class="form-label">Código Postal</label>
                <input type="text" class="form-control" id="codPostal" required>
            </div>
            <button type="submit" class="btn btn-primary">Agregar</button>

        </div>
        <div class="col-sm-6">
            <h3>Formulario de Pago</h3>
            <div class="mb-3">
                <label for="tarjeta" class="form-label">Tipo de Tarjeta</label>
                <input type="text" class="form-control" id="codPostal" required>
            </div>
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="codPostal" required>
            </div>
            <div class="mb-3">
                <label for="nombre" class="form-label">Número de la Tarjeta</label>
                <input type="text" class="form-control" id="codPostal" required>
            </div>
            <div class="mb-3">
                <label for="nombre" class="form-label">Código de Seguridad</label>
                <input type="number" class="form-control" id="codPostal" required>
            </div>
            <div class="mb-3">
                <label for="nombre" class="form-label">Mes y Año de expiración</label>
                <input type="text" class="form-control" id="codPostal" placeholder=" el formato es: 00/00">
            </div>
            <button type="submit" class="btn btn-primary">Agregar</button>
        </div>
    </div>
</form>