<h1 class="text-center"> Formulario de Despacho </h1>
<div class="row">
    <div class="col-sm-6">
        <h3>Formulario de Envio</h3>
        <form (ngSubmit)="agregarDireccion()">
            <div class="mb-3">
                <label for="pais" class="form-label">Pais</label>
                <input type="text" [(ngModel)]="pais" name="pais" class="form-control" required>
                <p style="color:red">{{errPais}}</p>
            </div>
            <div class="mb-3">
                <label for="calle" class="form-label">Calle</label>
                <input type="text" [(ngModel)]="calle" name="calle" class="form-control" required>
                <p style="color:red">{{errCalle}}</p>
            </div>
            <div class="mb-3">
                <label for="ciudad" class="form-label">Ciudad</label>
                <input type="text" [(ngModel)]="ciudad" name="ciudad" class="form-control" required>
                <p style="color:red">{{errCiudad}}</p>
            </div>
            <div class="mb-3">
                <label for="region" class="form-label">Región</label>
                <input type="text" [(ngModel)]="region" name="region" class="form-control" required>
                <p style="color:red">{{errRegion}}</p>
            </div>
            <div class="mb-3">
                <label for="codPostal" class="form-label">Código Postal</label>
                <input type="number" [(ngModel)]="codPostal" name="codPostal" class="form-control" id="codPostal" required>
                <p style="color:red">{{errCodPostal}}</p>
            </div>
            <button type="submit" class="btn btn-primary">Agregar</button>
            <p>Los datos del envio son validos: {{validaEnvio}}</p>
        </form>
    </div>
    <div class="col-sm-6">
        <h3>Formulario de Pago</h3>
        <form (ngSubmit)="agregarTarjeta()">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" [(ngModel)]="nombre" name="nombre" class="form-control" id="codPostal" required>
                <p style="color:red">{{errNombre}}</p>
            </div>
            <div class="mb-3">
                <label for="numeroTarjeta" class="form-label">Número de la Tarjeta</label>
                <input type="text" [(ngModel)]="numeroTarjeta" name="numeroTarjeta" class="form-control" id="codPostal" required>
                <p style="color:red">{{errNumeroTarjeta}}</p>
            </div>
            <div class="mb-3">
                <label for="codigoSeguridad" class="form-label">Código de Seguridad</label>
                <input type="number" [(ngModel)]="codigoSeguridad" name="codigoSeguridad" class="form-control" id="codPostal" required>
                <p style="color:red">{{errCodigoSeguridad}}</p>
            </div>
            <div class="mb-3">
                <label for="tipo" class="form-label">Tipo de Tarjeta</label>
                <input type="text" [(ngModel)]="tipo" name="tipo" class="form-control" id="codPostal" required>
                <p style="color:red">{{errTipo}}</p>
            </div>
            <div class="mb-3">
                <label for="fecha" class="form-label">Mes y Año de expiración</label>
                <input type="text" [(ngModel)]="fecha" name="fecha" class="form-control" id="codPostal" placeholder=" el formato es: 00/00">
                <p style="color:red">{{errFecha}}</p>
            </div>
            <button type="submit" class="btn btn-primary">Agregar</button>
            <p>Los datos de la tarjeta son validos?: {{validaTarjeta}}</p>

        </form>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-pago">
            Ver Resumen de Pago
        </button>
        <app-modal-pago [pais]="pais" [region]="region" [ciudad]="ciudad" [calle]="calle" [nombre]="nombre" [tipo]="tipo" [numeroTarjeta]="numeroTarjeta">
        </app-modal-pago>
    </div>
</div>