<!DOCTYPE html>
<html lang="en">

<head>
    <title>Registro de Usuario</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="registro.component.css">

</head>

<body>

    <form class="form-register" (submit)="registro()">
        <h4>Formulario de Registro</h4>
        <input class="controls" [(ngModel)]="nombre" type="text" name="nombre" id="nombre" placeholder="Ingrese su Nombre" minlength="4" maxlength="16" required>
        <p style="color: wheat">{{nombre}}</p>
        <input class="controls" [(ngModel)]="apellido" type="text" name="apellido" id="apellido" placeholder="Ingrese su Apellido" minlength="4" maxlength="16" required>
        <p style="color: wheat">{{apellido}}</p>
        <input class="controls" [(ngModel)]="email" type="email" name="correo" id="correo" placeholder="Ingrese su Correo" required>
        <p style="color: wheat">{{email}}</p>
        <input class="controls" [(ngModel)]="password" type="password" name="password" id="username" placeholder="Ingrese su Contraseña" required>
        <p style="color: wheat">{{password}}</p>
        <input class="controls" [(ngModel)]="confirmPassword" type="password" name="confirmPassword" id="password" placeholder="Confirme su Contraseña" minlength="8" maxlength="16" required>
        <p style="color: wheat">{{confirmPassword}}</p>
        <input class="botons" type="submit" value="Registrarme">
        <p><a routerLink="/login">¿Ya tengo Cuenta?</a></p>
    </form>
</body>

</html>