<!DOCTYPE html>
<html lang="en">

<head>
    <title>Registro de Usuario</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="registro.component.css">

</head>

<body>

    <form class="form-register" action="" method="">
        <h4>Formulario de Registro</h4>
        <input class="controls" type="text" name="nombre" id="nombre" placeholder="Ingrese su Nombre" minlength="4" maxlength="16" required>
        <input class="controls" type="text" name="apellido" id="apellido" placeholder="Ingrese su Apellido" minlength="4" maxlength="16" required>
        <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo" required>
        <input class="controls" type="text" name="profesion" id="profesion" placeholder="Ingrese su Profesión" required>
        <input class="controls" type="password" name="password" id="username" placeholder="Ingrese su Contraseña" required>
        <input class="controls" type="password" name="passwordConfirmation" id="password" placeholder="Confirme su Contraseña" minlength="8" maxlength="16" required>
        <input class="botons" type="submit" value="Registrarme">
        <p><a href="#">¿Ya tengo Cuenta?</a></p>
    </form>
</body>

</html>