<!-- Modal -->
<div class="modal fade" id="modal-pago" tabindex="-1" aria-labelledby="modal-pago" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Resumen del Despacho y Pago</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <h6>Dirección</h6>
                </div>
                <div>Pais: {{pais}}</div>
                <div>Región: {{region}}</div>
                <div>Ciudad: {{ciudad}}</div>
                <div>Calle: {{calle}} </div>
                <hr>
                <div>
                    <h6>Datos de Pago</h6>
                    <div>Tipo de tarjeta: {{tipo}}</div>
                    <div>Nombre de Cliente: {{nombre}}</div>
                    <div>Numero de tarjeta: {{numeroTarjeta}}</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>